@charset "utf-8";

@media (max-width: 599px){
    .message{
        text-align: center;
    }
    .setting{
        flex-direction: column;
        text-align: center;
    }
    .number-wrapper{
        margin-bottom: 20px;
    }
    .name-all{
        align-items: center;
    }

    .roulette-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .player-data{
        width: 90%;
        margin-bottom: 20px;
    }

    .result-all{
        flex-direction: column;
        align-items: center;
    }

    .player-result{
        width: 90%;
        margin-bottom: 40px;
    }
}


@media (max-width: 1024px) {
    .roulette-wrapper{
        flex-wrap: wrap;
        align-items: center;
    }

    .player-data{
        width: 45%;
        height: 250px;
        margin-bottom: 20px;
    }

    .result-all{
        flex-wrap: wrap;
        align-items: center;
    }

    .player-result{
        width: 45%;
        margin-bottom: 40px;
    }
}