@charset "utf-8";


/*全体のCSS*/
body{
    background-color: #3A3A3A;
    box-sizing: border-box;
}

.container{
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
}

.message{
    color: #fff;
}

h1,h2{
    font-family: 'RocknRoll One', sans-serif;
}

h2{
    font-weight: normal;
}

.message p{
    font-size: 14px;
}

#error{
    color: #f31e7e;
    font-weight: bold;
    display: none;
}


/*headerのCSS*/
.header-wrapper{
    width: 100%;
    height: 60px;
    background-color: #000;
    position: fixed;
    top: 0;
}

.header-contents{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: fit-content;
    color: #fff;
    margin: auto 0;
}

.reset-btn{
    display: inline-block;
    text-decoration: none;
    padding: 3px 15px;
    background-color: #ff9b63;
    color: #a74d3d;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    cursor: hand;
}

.reset-btn:hover{
    background-color: #ffb083;
    color: #e0705d;
}


/*main全体のCSS*/

main{
    margin-top: 100px;
    margin-bottom: 50px;
}

.box{
    background-color: #a1a1a1;
    border-radius: 5px;
}

/*プレイヤーカラー*/
.yellow{
    background-color: #e0ec68;
}

.blue{
    background-color: #575aff;
}

.pink{
    background-color: #c54599;
}

.green{
    background-color: #3cd65f;
}

/*　sectionのストライプ背景　*/
section{
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background-image: url(../img/bg.png);
    background-size: cover;
}

/*　オレンジボタン　*/
.btn{
    width: 150px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #a74d3d;
    background-color: #ff9b63;
    border-radius: 10px;
    box-shadow: 0 5px #e45e46;
    cursor: pointer;
    cursor: hand;
}

.btn:active{
    position: relative;
    top: 8px;
    box-shadow: none;
}


/*説明*/
.discription-wrapper{
    margin: 40px 0;
}

/*設定 2カラム*/
.setting{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

/*人数選択*/


.select-number{
    color: #fff;

}

.select-number select{
    width: 60px;
    height: 40px;
    text-align: center;
    margin: 10px 0;
}

/*名前入力*/

.name-all{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 10px 0;
}

.input-name{
    display: flex;
    align-items: center;
    margin: 10px;
    display: none;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.input-name input{
    width: 200px;
    height: 30px;
    padding: 3px 5px;
    margin-left: 10px;
}


/*ルーレット*/
.roulette-wrapper{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.player-data{
    width: 22%;
    height: 200px;
    background-color: #C2C2C2;
    margin: 0 10px;
    display: none;
}

.nameplate{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}

.odai-wrapper{
    text-align: center;
    margin-top: 10px;
}

.odai-wrapper p{
    font-size: 18px;
}

.odai{
    text-align: center;
    width: 90%;
    height: 30px;
}

.memory-set{
    text-align: center;
    margin: 20px 0px;
}


/*結果表示*/
.result-wrapper{
    margin: 50px 0;
}

.result-all{
    display: flex;
    justify-content: center;
}

.player-result{
    width: 22%;
    height: 80px;
    margin: 20px 10px;
    display: none;
}

.down-icon{
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

.weapon{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}




/*　JS用クラス　*/
.hide{
    display: none;
}

.block{
    display: block;
}

.active{
    display: flex;
}
